	<tr>
		<td>
			{{description}}
			<br />
			Default value: <code>{{default}}</code>
		</td>
		<td>
			<span class="option"><code>{{config}}</code></span>
		</td>
		<td>
			<span class="flag"><code>{{flag}}</code></span>
		</td>
	</tr>
