	<tr>
		<td>
			{{description}}
			<br />
			Default value: <code>{{default}}</code>
		</td>
		<td>
			<code class="option">{{config}}</code>
		</td>
		<td>
			<code class="flag">{{flag}}</code>
		</td>
	</tr>
