	<tr>
		<td>
			{{description}}
			<br />
			Default value: <code>{{default}}</code>
		</td>
		<td>
			{{#flag}}
			<code class="flag">{{flag}}</code>
			{{/flag}}
			{{^flag}}
			<em>Not available as a flag</em>
			{{/flag}}
		</td>
		<td>
			{{#config}}
			<code class="option">{{config}}</code>
			{{/config}}
			{{^config}}
			<em>Not available as an option</em>
			{{/config}}
		</td>
	</tr>
