---
layout: default
title: {{full_name}}()
---

<a href="/docs/internal-api/">Internal API</a> &raquo; {{category}} &raquo; <strong>{{full_name}}()</strong>

{{phpdoc.short_description}}

    {{signature}}

<div>
{{#phpdoc.parameters.param}}
<strong>{{1}}</strong> ({{0}}) {{2}}<br />
{{/phpdoc.parameters.param}}
{{#phpdoc.parameters.return}}
<strong>@return</strong> ({{0}}) {{2}}<br /></p>
{{/phpdoc.parameters.return}}
</div>

{{phpdoc.long_description}}

