---
layout: default
title: {{full_name}}()
---

<a href="/docs/internal-api/">Internal API</a> &raquo; {{category}}

## {{full_name}}()

{{phpdoc.short_description}}

***

### Usage

    {{signature}}

<div>
{{#phpdoc.parameters.param}}
<strong>{{1}}</strong> ({{0}}) {{{2}}}<br />
{{/phpdoc.parameters.param}}
{{#phpdoc.parameters.return}}
<strong>@return</strong> ({{0}}) {{2}}<br /></p>
{{/phpdoc.parameters.return}}
</div>

{{#phpdoc.long_description}}

***

### Notes

{{{phpdoc.long_description}}}

{{/phpdoc.long_description}}

{{#has_related}}

***

### Related

<ul>

{{/has_related}}

{{#related}}

<li><strong><a href="/docs/internal-api/{{api_slug}}/">{{full_name}}()</a></strong> - {{phpdoc.short_description}}</li>

{{/related}}

{{#has_related}}

</ul>

{{/has_related}}

