---
layout: default
title: 'wp {{synopsis}}'
display_global_parameters: true
---

`wp {{synopsis}}` - {{description}}

<small>Quick links: <a href="{{github_issues_link}}">Github issues</a></small>

<hr />

{{{docs}}}

{{#has-subcommands}}
### SUBCOMMANDS

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
		{{#subcommands}}
		<tr>
			<td><a href="/commands/{{path}}/{{name}}/">{{name}}</a></td>
			<td>{{description}}</td>
		</tr>
		{{/subcommands}}
	</tbody>
</table>
{{/has-subcommands}}
