---
layout: default
title: 'wp {{synopsis}}'
---

`wp {{synopsis}}` - {{description}}

{{{docs}}}

{{#has-subcommands}}
### SUBCOMMANDS

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
		{{#subcommands}}
		<tr>
			<td><a href="/commands/{{path}}/{{name}}">{{name}}</a></td>
			<td>{{description}}</td>
		</tr>
		{{/subcommands}}
	</tbody>
</table>
{{/has-subcommands}}
