	<tr>
		<td><a href="/commands/cache/">cache</a></td>
		<td>Manage the object cache.</td>
	</tr>
	<tr>
		<td><a href="/commands/cap/">cap</a></td>
		<td>Manage user capabilities.</td>
	</tr>
	<tr>
		<td><a href="/commands/cli/">cli</a></td>
		<td>Get information about WP-CLI itself.</td>
	</tr>
	<tr>
		<td><a href="/commands/comment/">comment</a></td>
		<td>Manage comments.</td>
	</tr>
	<tr>
		<td><a href="/commands/comment-meta/">comment-meta</a></td>
		<td>Manage comment custom fields.</td>
	</tr>
	<tr>
		<td><a href="/commands/core/">core</a></td>
		<td>Download, install, update and otherwise manage WordPress proper.</td>
	</tr>
	<tr>
		<td><a href="/commands/db/">db</a></td>
		<td>Perform basic database operations.</td>
	</tr>
	<tr>
		<td><a href="/commands/eval/">eval</a></td>
		<td>Execute arbitrary PHP code after loading WordPress.</td>
	</tr>
	<tr>
		<td><a href="/commands/eval-file/">eval-file</a></td>
		<td>Load and execute a PHP file after loading WordPress.</td>
	</tr>
	<tr>
		<td><a href="/commands/export/">export</a></td>
		<td>Export content to a WXR file.</td>
	</tr>
	<tr>
		<td><a href="/commands/help/">help</a></td>
		<td>Get help on a certain command.</td>
	</tr>
	<tr>
		<td><a href="/commands/import/">import</a></td>
		<td>Import content from a WXR file.</td>
	</tr>
	<tr>
		<td><a href="/commands/media/">media</a></td>
		<td>Manage attachments.</td>
	</tr>
	<tr>
		<td><a href="/commands/network-meta/">network-meta</a></td>
		<td>Manage network custom fields.</td>
	</tr>
	<tr>
		<td><a href="/commands/option/">option</a></td>
		<td>Manage options.</td>
	</tr>
	<tr>
		<td><a href="/commands/plugin/">plugin</a></td>
		<td>Manage plugins.</td>
	</tr>
	<tr>
		<td><a href="/commands/post/">post</a></td>
		<td>Manage posts.</td>
	</tr>
	<tr>
		<td><a href="/commands/post-meta/">post-meta</a></td>
		<td>Manage post custom fields.</td>
	</tr>
	<tr>
		<td><a href="/commands/rewrite/">rewrite</a></td>
		<td>Manage rewrite rules.</td>
	</tr>
	<tr>
		<td><a href="/commands/role/">role</a></td>
		<td>Manage user roles.</td>
	</tr>
	<tr>
		<td><a href="/commands/scaffold/">scaffold</a></td>
		<td>Generate code for post types, taxonomies, etc.</td>
	</tr>
	<tr>
		<td><a href="/commands/search-replace/">search-replace</a></td>
		<td>Search/replace strings in the database.</td>
	</tr>
	<tr>
		<td><a href="/commands/shell/">shell</a></td>
		<td>Interactive PHP console.</td>
	</tr>
	<tr>
		<td><a href="/commands/site/">site</a></td>
		<td>Perform site-wide operations.</td>
	</tr>
	<tr>
		<td><a href="/commands/term/">term</a></td>
		<td>Manage terms.</td>
	</tr>
	<tr>
		<td><a href="/commands/theme/">theme</a></td>
		<td>Manage themes.</td>
	</tr>
	<tr>
		<td><a href="/commands/transient/">transient</a></td>
		<td>Manage transients.</td>
	</tr>
	<tr>
		<td><a href="/commands/user/">user</a></td>
		<td>Manage users.</td>
	</tr>
	<tr>
		<td><a href="/commands/user-meta/">user-meta</a></td>
		<td>Manage user custom fields.</td>
	</tr>
