	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/blog.php">blog</a></td>
		<td>Manage blogs in a multisite install.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/cache.php">cache</a></td>
		<td>Manage the object cache.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/cap.php">cap</a></td>
		<td>Manage user capabilities.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/comment.php">comment</a></td>
		<td>Manage comments.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/core.php">core</a></td>
		<td>Download, install, update and otherwise manage WordPress proper.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/db.php">db</a></td>
		<td>Perform basic database operations.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/eval.php">eval</a></td>
		<td>Execute arbitrary PHP code after loading WordPress.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/eval-file.php">eval-file</a></td>
		<td>Load and execute a PHP file after loading WordPress.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/export.php">export</a></td>
		<td>Export content to a WXR file.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/help.php">help</a></td>
		<td>Get help on a certain topic.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/home.php">home</a></td>
		<td>Open the wp-cli homepage in your browser.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/option.php">option</a></td>
		<td>Manage WordPress options.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/plugin.php">plugin</a></td>
		<td>Manage plugins.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/post.php">post</a></td>
		<td>Manage posts.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/post-meta.php">post-meta</a></td>
		<td>Manage post custom fields.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/rewrite.php">rewrite</a></td>
		<td>Manage rewrite rules.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/scaffold.php">scaffold</a></td>
		<td>Generate code for post types, taxonomies, etc.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/search-replace.php">search-replace</a></td>
		<td>Search/replace strings in the database.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/shell.php">shell</a></td>
		<td>Interactive PHP console.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/theme.php">theme</a></td>
		<td>Manage themes.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/transient.php">transient</a></td>
		<td>Manage WordPress transients.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/user.php">user</a></td>
		<td>Manage users.</td>
	</tr>
	<tr>
		<td><a href="https://github.com/wp-cli/wp-cli/blob/master/php/commands/user-meta.php">user-meta</a></td>
		<td>Manage user custom fields.</td>
	</tr>
