<h3>Guides</h3>

<ul>
<li><a href="/docs/common-issues/"><strong>Common issues and their fixes</strong></a> - In case of fire, break glass.</li>
<li><a href="/docs/installing/"><strong>Installing</strong></a> - Recommended and alternative installation mechanisms.</li>
<li><a href="/docs/plugin-unit-tests/"><strong>Plugin Unit Tests</strong></a> - How to set up and run PHPUnit tests for a WordPress plugin.</li>
</ul>

<h3>References</h3>

<ul>
<li><a href="/commands/"><strong>Built-in commands</strong></a> - Commands included in every copy of WP-CLI.</li>
<li><a href="/config/"><strong>Configuration options defining how a command is executed.</strong></a></li>
<li><a href="/docs/hosting-companies/"><strong>Hosting Companies</strong></a> - List of hosting companies with WP-CLI installed by default.</li>
<li><a href="/docs/tools/"><strong>Integrated Tools</strong></a> - External projects that integrate with WP-CLI in some form.</li>
<li><a href="/docs/internal-api/"><strong>Internal API</strong></a> - Stable utilities considered safe to use in community commands.</li>
<li><a href="/docs/shell-tips/"><strong>Shell Tips</strong></a> - Helpful shortcuts for bash and zsh.</li>
</ul>

<h3>Contributing</h3>

<ul>
<li><a href="/docs/bug-reports/"><strong>Bug Reports</strong></a> - Help ensure your issue is resolved in a timely manner.</li>
<li><a href="/docs/governance/"><strong>Governance</strong></a> - Summary of those behind WP-CLI.</li>
<li><a href="/docs/implementation-details/"><strong>Implementation details</strong></a> - Catalog of historical design decisions.</li>
<li><a href="/docs/philosophy/"><strong>Philosophy</strong></a> - Guidelines which inform project scope, command organization, and behavior.</li>
<li><a href="/docs/pull-requests/"><strong>Pull Requests</strong></a> - Submit your first bug fix or new feature.</li>
<li><a href="/docs/release-checklist/"><strong>Release Checklist</strong></a> - Tasks performed during the process of tagging a release.</li>
</ul>

