<h3 id="guides">Guides</h3>

<ul>
<li><a href="/docs/installing/"><strong>Installing</strong></a> - Recommended and alternative installation mechanisms.</li>
<li><a href="/docs/quick-start/"><strong>Quick start</strong></a> - Where to begin after you've installed WP-CLI for the first time.</li>
<li><a href="/docs/commands-cookbook/"><strong>Commands cookbook</strong></a> - The full 101 how commands work, writing your own, and sharing them with the world.</li>
<li><a href="/docs/common-issues/"><strong>Common issues and their fixes</strong></a> - In case of fire, break glass.</li>
<li><a href="/docs/external-resources/"><strong>External resources</strong></a> - Blog posts, slides and videos from users.</li>
</ul>

<h3 id="references">References</h3>

<ul>
<li><a href="/config/"><strong>Global parameters</strong></a> - Variables defining how a command is executed, including which WordPress user the command is run as and which WordPress instance the command is run against.</li>
<li><a href="/commands/"><strong>Built-in commands</strong></a> - Commands included in every copy of WP-CLI.</li>
<li><a href="/package-index/"><strong>Package index</strong></a> - Commands maintained and supported by the community.</li>
<li><a href="/docs/internal-api/"><strong>Internal API</strong></a> - Stable utilities considered safe to use in community commands.</li>
<li><a href="/docs/documentation-standards/"><strong>Documentation Standards</strong></a> - Standards for annotating WP-CLI commands.</li>
<li><a href="/docs/hosting-companies/"><strong>Hosting companies</strong></a> - List of hosting companies where WP-CLI is installed by default.</li>
<li><a href="/docs/shell-friends/"><strong>Shell friends</strong></a> - Helpful shortcuts for bash and zsh.</li>
<li><a href="/docs/tools/"><strong>Integrated tools</strong></a> - Plugins, wrappers, and other projects that integrate with WP-CLI in some form.</li>
</ul>

<h3 id="contributing">Contributing</h3>

<ul>
<li><a href="/docs/bug-reports/"><strong>Bug reports</strong></a> - Help ensure your issue is resolved in a timely manner.</li>
<li><a href="/docs/contributing/"><strong>Contributing</strong></a> - An introduction to the contributing process.</li>
<li><a href="/docs/governance/"><strong>Governance</strong></a> - Summary of those behind WP-CLI.</li>
<li><a href="/docs/implementation-details/"><strong>Implementation details</strong></a> - Catalog of historical design decisions.</li>
<li><a href="/docs/philosophy/"><strong>Philosophy</strong></a> - Guidelines which inform project scope, command organization, and behavior.</li>
<li><a href="/docs/pull-requests/"><strong>Pull Requests</strong></a> - Submit your first bug fix or new feature.</li>
<li><a href="/docs/release-checklist/"><strong>Release checklist</strong></a> - Tasks performed during the process of tagging a release.</li>
<li><a href="/docs/roadmap/"><strong>Roadmap</strong></a> - Where WP-CLI is going in the future.</li>
</ul>

<h3 id="misc">Misc</h3>

<ul>
<li><a href="/docs/plugin-unit-tests/"><strong>Plugin unit tests</strong></a> - How to set up and run PHPUnit tests for a WordPress plugin.</li>
<li><a href="/docs/wish-list/"><strong>Website and Package Index wish list</strong></a> - A list of ideas and potential improvements for wp-cli.org</li>
</ul>

