<h3>Guides</h3>

<ul>
<li><a href="/docs/installing/"><strong>Installing</strong></a> - Recommended and alternative installation mechanisms.</li>
</ul>

<h3>References</h3>

<ul>
<li><a href="/docs/tools/"><strong>Integrated Tools</strong></a> - External projects that integrate with WP-CLI in some form.</li>
<li><a href="/docs/internal-api/"><strong>Internal API</strong></a> - Stable utilities considered safe to use in community commands.</li>
<li><a href="/docs/shell-tips/"><strong>Shell Tips</strong></a> - Helpful shortcuts for bash and zsh.</li>
</ul>

<h3>Contributing</h3>

<ul>
<li><a href="/docs/governance/"><strong>Governance</strong></a> - Summary of those behind WP-CLI.</li>
<li><a href="/docs/philosophy/"><strong>Philosophy</strong></a> - Guidelines which inform project scope, command organization, and behavior.</li>
</ul>

<h3>Misc</h3>

<ul>
</ul>

