			</section>
		</div>

		{% if page.display_global_parameters %}
			{% include global-parameters.html %}
		{% endif %}

		<footer>Project maintained by <a href="https://github.com/danielbachhuber">Daniel Bachhuber</a>. Initial code by <a href="https://github.com/andreascreten">Andreas Creten</a> and <a href="https://github.com/scribu">Cristi Burc&#259;</a>.</footer>

		{% include analytics.html %}

		<script type="text/javascript">
			var anchorForId = function( id ) {
				var anchor = document.createElement( 'a' );

				anchor.className = 'header-link';
				anchor.href = '#' + id;
				anchor.innerHTML = '#';
				anchor.title = 'Permalink';

				return anchor;
			};

			var linkifyAnchors = function( level, containingElement ) {
				var 	h,
						headers = containingElement.getElementsByTagName( 'h' + level );

				for( h = 0; h < headers.length; h++ ) {
					var header = headers[ h ];

					if( 'undefined' !== typeof header.id && '' !==  header.id ) {
						header.appendChild( anchorForId( header.id ) );
					}
				}
			};

			document.onreadystatechange = function() {
				if( 'complete' === this.readyState  ) {
					var contentBlock = document.getElementById( 'main_content' );

					if( !contentBlock ) {
						return;
					}

					for( var level = 2; level <= 6; level++ ) {
						linkifyAnchors( level, contentBlock );
					}
				}
			};

			document.getElementById('languages').onchange = function(ev) {
			    if (ev.currentTarget && ev.currentTarget.value) {
			      location.href = ev.currentTarget.value;
			    }
			};
		</script>
	</body>
</html>
