<aside class="global-parameters">

	<h3>Global Parameters</h3>

		<p><code>--path=&lt;path&gt;</code>
			Path to the WordPress files.</p>
		<p><code>--ssh=[&lt;user&gt;@]&lt;host&gt;[:&lt;port&gt;][&lt;path&gt;]</code>
			Perform operation against a remote server over SSH.</p>
		<p><code>--http=&lt;http&gt;</code>
			Perform operation against a remote WordPress install over HTTP.</p>
		<p><code>--url=&lt;url&gt;</code>
			Pretend request came from given URL. In multisite, this argument is how the target site is specified.</p>
		<p><code>--user=&lt;id|login|email&gt;</code>
			Set the WordPress user.</p>
		<p><code>--skip-plugins[=&lt;plugin&gt;]</code>
			Skip loading all or some plugins. Note: mu-plugins are still loaded.</p>
		<p><code>--skip-themes[=&lt;theme&gt;]</code>
			Skip loading all or some themes.</p>
		<p><code>--skip-packages</code>
			Skip loading all installed packages.</p>
		<p><code>--require=&lt;path&gt;</code>
			Load PHP file before running the command (may be used more than once).</p>
		<p><code>--[no-]color</code>
			Whether to colorize the output.</p>
		<p><code>--debug[=&lt;group&gt;]</code>
			Show all PHP errors; add verbosity to WP-CLI bootstrap.</p>
		<p><code>--prompt</code>
			Prompt the user to enter values for all command arguments.</p>
		<p><code>--quiet</code>
			Suppress informational messages.</p>

</aside>
