<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css" media="screen" />

		<link rel="icon" type="image/x-icon" href="//github.com/favicon.ico" />

		<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom Feed">

		<title>{{ page.title }} | WP-CLI</title>
	</head>

	<body>

		<header>
		<div class="container">
			<h1><a href="/">WP-CLI</a></h1>
			<h2>A command line interface for WordPress</h2>

			<section id="downloads">
			<a href="/commands/" class="btn btn-cmd">Commands</a>
			<a href="/config/" class="btn btn-cmd">Configuration</a>
			<a href="/blog/" class="btn btn-blog">Blog</a>
			<a href="https://github.com/wp-cli/wp-cli/wiki" class="btn btn-github">Wiki</a>
			<a href="https://github.com/wp-cli/wp-cli" class="btn btn-source">Github</a>
			<a href="https://twitter.com/wpcli" class="btn btn-twitter">Twitter</a>
			</section>
		</div>
		</header>

		<div class="container">
			<section id="main_content">

