<!DOCTYPE html>{% assign hreflang = 'en' %}{% for lang in site.languages %}{% if lang.path == page.url %}{% assign hreflang = lang.iso-alpha2 %}{% endif %}{% endfor %}
<html hreflang="{{hreflang}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css?v=3" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/fa.css" media="screen" />

		<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
		<link rel="shortcut icon" href="/assets/img/favicon.ico" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom Feed">

		<title>{{ page.title }} | WP-CLI</title>
		<meta name="description" content="{{ page.description }}">

		{% for lang in site.languages %}<link rel="alternate" hreflang="{{lang.iso-alpha2}}" href="{{site.url}}{{lang.path}}" />
		{% endfor %}
	</head>

	{% if page.display_global_parameters %}
	<body class="display-global-parameters">
	{% else %}
	<body>
	{% endif %}
		<header class="cf">
		<div class="container">
			<h1><a href="/">WP-CLI</a></h1>
			{% capture page_url %}{{ page.url | remove:'index.html' }}{% endcapture %}
			{% if page_url == '/restful/' %}
			<h2>A <em>RESTful</em> command line interface for WordPress</h2>
			{% else %}
			<h2>A command line interface for WordPress</h2>
			{% endif %}

			{% include navigation.html %}
			{% include languages.html %}
		</div>
		</header>

		<div class="container">
			<section id="main_content">
