***

## Output


<strong><a href="/docs/internal-api/wp-cli-utils-format-items/">WP_CLI\Utils\format_items()</a></strong>

Render a collection of items as an ASCII table, JSON, CSV, YAML, list of ids, or count.


<strong><a href="/docs/internal-api/wp-cli-line/">WP_CLI::line()</a></strong>

Display a message in the CLI and end with a newline.


<strong><a href="/docs/internal-api/wp-cli-log/">WP_CLI::log()</a></strong>

Log an informational message.


<strong><a href="/docs/internal-api/wp-cli-success/">WP_CLI::success()</a></strong>

Display a success in the CLI and end with a newline.


<strong><a href="/docs/internal-api/wp-cli-debug/">WP_CLI::debug()</a></strong>

Log information when --debug flag is used.


<strong><a href="/docs/internal-api/wp-cli-error/">WP_CLI::error()</a></strong>

Displays an error message prefixed with &quot;Error: &quot;.

## Input


<strong><a href="/docs/internal-api/wp-cli-read-value/">WP_CLI::read_value()</a></strong>

Read a value, from various formats.

## Misc


<strong><a href="/docs/internal-api/wp-cli-utils-write-csv/">WP_CLI\Utils\write_csv()</a></strong>

Write data as CSV to a given file.


<strong><a href="/docs/internal-api/wp-cli-utils-get-named-sem-ver/">WP_CLI\Utils\get_named_sem_ver()</a></strong>

Compare two version strings to get the named semantic version.


<strong><a href="/docs/internal-api/wp-cli-utils-get-flag-value/">WP_CLI\Utils\get_flag_value()</a></strong>

Return the flag value or, if it's not set, the $default value.


<strong><a href="/docs/internal-api/wp-cli-utils-get-temp-dir/">WP_CLI\Utils\get_temp_dir()</a></strong>

Get the temp directory, and let the user know if it isn't writable.


<strong><a href="/docs/internal-api/wp-cli-warning/">WP_CLI::warning()</a></strong>

Display a warning in the CLI and end with a newline.


<strong><a href="/docs/internal-api/wp-cli-error-multi-line/">WP_CLI::error_multi_line()</a></strong>

Display an error in the CLI and end with a newline.

