<nav class="main-nav">
	<ul>
	{% capture page_url %}{{ page.url | remove:'index.html' }}{% endcapture %}

	{% for link in site.navigation %}
		{% capture current %}{% assign current = nil %}{% endcapture %}

		{% if page_url == link.url or page.layout == link.layout %}
			{% assign current = 'class="active"' %}
		{% endif %}

		<li {{ current }}>
			<a href="{{ link.url }}">{{ link.text }}</a>
		</li>
	{% endfor %}

		<li class="align-right">
			<a href="https://github.com/wp-cli/wp-cli" class="btn-source rounded" target="_blank"><i class="icon-github-circled"></i></a>
		</li>
		<li class="align-right">
			<a href="https://twitter.com/wpcli" class="btn-twitter rounded" target="_blank"><i class="icon-twitter"></i></a>
		</li>
	</ul>
</nav>
