	<tr>
		<td><code>path: &lt;path&gt;</code></td>
		<td><code>--path=&lt;path&gt;</code></td>
		<td><code>null</code></td>
		<td>Path to the WordPress files</td>
	</tr>
	<tr>
		<td><code>url: &lt;url&gt;</code></td>
		<td><code>--url=&lt;url&gt;</code></td>
		<td><code>null</code></td>
		<td>Pretend request came from given URL</td>
	</tr>
	<tr>
		<td><code>user: &lt;id|login&gt;</code></td>
		<td><code>--user=&lt;id|login&gt;</code></td>
		<td><code>null</code></td>
		<td>Set the WordPress user</td>
	</tr>
	<tr>
		<td><code>require: &lt;path&gt;</code></td>
		<td><code>--require=&lt;path&gt;</code></td>
		<td><code>[]</code></td>
		<td>Load PHP file before running the command (may be used more than once)</td>
	</tr>
	<tr>
		<td><code>disabled_commands: &lt;list&gt;</code></td>
		<td><code></code></td>
		<td><code>[]</code></td>
		<td>(Sub)commands to disable</td>
	</tr>
	<tr>
		<td><code>color: &lt;bool&gt;</code></td>
		<td><code>--[no-]color</code></td>
		<td><code>&quot;auto&quot;</code></td>
		<td>Whether to colorize the output</td>
	</tr>
	<tr>
		<td><code>debug: &lt;bool&gt;</code></td>
		<td><code>--debug</code></td>
		<td><code>false</code></td>
		<td>Show all PHP errors</td>
	</tr>
	<tr>
		<td><code></code></td>
		<td><code>--prompt</code></td>
		<td><code>false</code></td>
		<td>Prompt the user to enter values for all command arguments</td>
	</tr>
	<tr>
		<td><code>quiet: &lt;bool&gt;</code></td>
		<td><code>--quiet</code></td>
		<td><code>false</code></td>
		<td>Suppress informational messages</td>
	</tr>
	<tr>
		<td><code>apache_modules: &lt;list&gt;</code></td>
		<td><code></code></td>
		<td><code>[]</code></td>
		<td>List of Apache Modules that are to be reported as loaded</td>
	</tr>
