---
layout: default
title: Blog
---

{% for post in paginator.posts %}
<article class="hentry">
	<div class="post-header">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<span>by <a href="http://github.com/{{post.author}}">{{ post.author }}</a>, on {{ post.date | date_to_string }}</span>
	</div>

	<div class="post-content">
	{% if post.content contains "<!-- more -->" %}
		{{ post.content | split:"<!-- more -->" | first }}
		<a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
	{% else %}
		{{ post.content }}
	{% endif %}
	</div>
</article>
{% endfor %}

<nav class="pagination">
	{% if paginator.previous_page %}
	<div class="prev">
		{% if paginator.previous_page == 1 %}
		<a href="/blog/">←&nbsp;&nbsp;&nbsp;Newer</a>
		{% else %}
		<a href="/blog/page{{paginator.previous_page}}">←&nbsp;&nbsp;&nbsp;Newer</a>
		{% endif %}
	</div>
	{% endif %}

	{% if paginator.next_page %}
	<div class="next">
		<a href="/blog/page{{paginator.next_page}}">Older&nbsp;&nbsp;&nbsp;→</a>
	</div>
	{% endif %}
</nav>
