{% include header.html %}

{% capture page_url %}{{ page.url | remove:'index.html' }}{% endcapture %}

<span style="float:right;"><a href="https://github.com/wp-cli/wp-cli.github.com/edit/master/{{page.path}}">Edit</a></span>

{% if page_url != '/docs/' %}
<small><a href="/docs/">Docs</a> &raquo; {{ page.category }}</small>
{% endif %}

<h1>{{ page.title }}</h1>

{% if page.quick_links %}
	<p><small>Quick links:
	{% for quick_link in page.quick_links %}
		{% capture link %}{{ quick_link | slugify }}{% endcapture %}
		<a href="#{{link}}">{{quick_link}}</a> {% if forloop.last == false %}|{% endif %}
	{% endfor %}
	</small></p>
{% endif %}

{{ content }}

{% include footer.html %}
